@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
    --bg-gray: #000000;
    --color-primary:hsl(244, 87%, 30%);
    --white: fff;
    --text-gray: #4a4a4a;
    --text-light-gray: rgb(133, 131, 131);
    --star-yellow: #FFBB3A;
     --cor-caixa: rgb(0, 183, 255);    

}

*{
box-sizing: border-box;
font-family: 'Open Sans', 'sans-serif';
margin: 0;

}
html,body{

    background-color:var(--bg-gray)
       
}

header{

    background-color:var(--color-primary);
    color: var(--white);
    height: 60px;
}


a, a:hover{
    text-decoration: none;
 color: unset;   
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1{

    font-size: 22px;
    font-weight: 600;
    color: white;
}

nav a{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

.ShadowMovies-contact-container{
    display: flex;
    align-items: center;
}
.ShadowMovies-contact-container img{
    margin-right: 10px;
}

.ShadowMovies-card{

    width: 100%;
    height: 400px;
}

#ShadowMovies-card-list{
    padding: 0 10px;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space;
    width: 100%;
    border-radius: 0 0 8px 8px;
}
.ShadowMovies-card img{
    border-radius: 8px 8px 0 0;
    width: 100%; 
}

.ShadowMovies-card-description{
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(248, 248, 248);
    border-radius:0 0 8px 8px;
    height: 220px;
}
.ShadowMovies-card-description h3{
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.ShadowMovies-btn, ShadowMovies-btn:hover{
    width: 140px;
    height: 40px;
    background-color:#3069e4;
    color:white;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
    flex-direction: center;

}

.ShadowMovies-form-container{
    padding: 40px 0;
    max-width: 480px;

}
.ShadowMovies-form-description{

    background-color:rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:0 0 8px 8px;
}

.ShadowMovies-form{
    width: 100%;


}
.ShadowMovies-form-btn-container{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;



}
.ShadowMovies-form-group{
    margin-bottom: 20px;    
}
.ShadowMovies-form-group label{
    font-size: 12px;
    color: var(--text-light-gray);
}
.ShadowMovies-form-description h3{
    font-size: 13px;
    font-weight:700;
    margin-bottom: 20px;
}
.form-group ShadowMovies-form-group{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.ShadowMovies-card-description img{
       width: 22px;
}

.ShadowMovies-card-description h4{
    font-size: 16px;
    font-weight: 700;
    color: var(--star-yellow);
}
.ShadowMovies-avaliação{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.ShadowMovies-card-description p{
    font-size: 12px;
    font-weight: 400;
    color: rgb(53, 51, 51);
    margin-bottom: 10px;

}
.ShadowMovies-pagination-container{
    padding: 15px 0;
    display: flex;
    justify-content: center;
}
.ShadowMovies-pagination-box{
    display:flex;
    width: 180px;
    justify-content:space-between;
    align-items: center;
}
.ShadowMovies-pagination-box p{
    margin: 0;
    color: rgb(252, 252, 252);
    font-size: 12px;
    font-weight: 400;

}
.ShadowMovies-pagination-box button{
    width:40px;
    height:40px;
    border: 1px solid color var(--cor-caixa);
    border-radius: 4px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.ShadowMovies-pagination-box:disabled{
    border: 1px solid;

}
.ShadowMovies-flip-horizontal{
    transform: rotate(180deg);
}

.ShadowMovies-pagination-box button img{


filter: brightness(0) saturate(100%)invert(13%) sepia(85%) saturate(3179%) hue-rotate(233deg) brightness(82%) contrast(111%);

}

.ShadowMovies-pagination-box:disabled img{
    filter: unset;

}