@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
    --bg-gray: fff;
    --color-primary:#3069e4;
    --white: fff;
    --text-gray: #4a4a4a

}

*{
box-sizing: border-box;
font-family: 'Open Sans', 'sans-serif';
margin: 0;

}
html,body{

    background-color:var(--bg-gray)
       
}

header{

    background-color:var(--color-primary);
    color: var(--white);
    height: 60px;
}


a, a:hover{
    text-decoration: none;
 color: unset;   
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1{

    font-size: 22px;
    font-weight: 600;
    color: white;
}

nav a{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

.ShadowMovies-contact-container{
    display: flex;
    align-items: center;
}
.ShadowMovies-contact-container img{
    margin-right: 10px;
}

.ShadowMovies-card{

    width: 100%;
    height: 400px;
}

#ShadowMovies-card-list{
    padding: 50px 0;
}
.ShadowMovies-card img{
    border-radius: 8px 8px 0 0;
    width: 100%; 
}

.ShadowMovies-card-description{
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(204, 207, 204);
    border-radius:0 0 8px 8px;
    min-height: 150px;
}
.ShadowMovies-card-description h3{
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.ShadowMovies-btn, ShadowMovies-btn:hover{
    width: 140px;
    height: 40px;
    background-color:#3069e4;
    color:white;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

}
