@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
    --bg-gray: #ddd;
    --color-primary:#df5cbe;
    --white: fff;

}

*{
box-sizing: border-box;
font-family: 'Open Sans', 'sans-serif';
margin: 0;

}
html,body{

    background-color:var(--bg-gray)
       
}

header{

    background-color:var(--color-primary);
    color: var(--white);
    height: 60px;
}


a, a:hover{
    text-decoration: none;
 color: unset;   
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1{

    font-size: 24px;
    font-weight: 600;
}

nav a{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

.ShadowMovies-contact-container{
    display: flex;
    align-items: center;
}
.ShadowMovies-contact-container img{
    margin-right: 10px;
}